{% extends "network/layout.html" %}

{% load static %}


{% block body %}
    <div id="content-wrapper">

        
        <div id="posts">
            {% for post in following_posts %}
                {% include 'network/post.html' %}
            {% endfor %}

        </div>
        {% if next %}    
        <nav aria-label="Post pages" class="nav">
            <ul class="pagination">
                {% if not following_posts.has_previous %}
                    <li class="page-item disabled">
                        <a class="page-link"  aria-disabled="true">Previous</a>
                    </li>
                    
                {% else %} 
                    <li class="page-item">
                        <a class="page-link" href="?page={{ following_posts.previous_page_number }}" tabindex="-1" aria-disabled="false">Previous</a>
                    </li>
                {% endif %}
                
             
    
              <li class="page-item">
                {% if following_posts.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ following_posts.next_page_number }}" tabindex="1" aria-disabled="false">Next</a>
                    </li>
                {% else %} 
                    <li class="page-item disabled">
                        <a class="page-link"  aria-disabled="true">Next</a>
                    </li>
                {% endif %}
              </li>
            </ul>
    
            
            <p>Page {{ following_posts.number }} of {{ following_posts.paginator.num_pages }} </p>
            
        </nav>
        {% endif %}
    </div>
{% endblock %}
