<div class="post" data-id="{{ post.id }}">
    <div class="post-header" style="margin-left: 0.6rem;">
        {% if post.user == user %}
        <p class="edit" data-id="{{ post.id }}" id="edit{{ post.id }}">Edit</p>
        <p class="save" data-id="{{ post.id }}" data-user_id="{{ post.user.id }}" id="save{{ post.id }}" style="display: none;">Save</p>
        {% endif %} 
        <a class="kdr" href="{% url 'profile' post.user.username %}">{{ post.user.username }}</a>
        <div class="content" id="content{{ post.id }}">{{ post.content }}</div>
        

        <p class="timestamp" style="margin-top: 0.5rem;">{{ post.timestamp }}</p>
    </div>
    
    <textarea id="txt{{ post.id }}" class="post-text" style="display:none; border-radius: 0.2rem; margin-bottom: 0.6rem; margin-left: 0.6rem;">{{ post.content }}</textarea>
    <div class="post-actions">
        
        
        <button class="like-button" data-post-id="{{ post.id }}" style="background-color: #007bff; color: #fff; border: none; padding: 5px 10px; border-radius: 5px; cursor: pointer; margin-left: 0.6rem;">
            {% if user in post.likes.all %}
            Unlike 
            {% else %}
            Like 
            {% endif %}
        </button>
       
        <span id="number{{ post.id }}" class="post-likes-count">{{ post.likes.count }}</span>
    </div>
</div>
